<% title 'Auth' %>
<div class="auth" data-component="auth">
  <!--<div class="auth__title">Log in</div>-->
  <h4>Log in</h4>

  <%= form_tag sessions_path, class: 'form' do %>
      <div class="auth__username form__field mdl-textfield mdl-js-textfield">
        <%= text_field_tag :username, params[:username], class: 'mdl-textfield__input' %>
        <%= label_tag :username, nil, class: 'mdl-textfield__label' %>
      </div>
      <div class="auth__password form__field mdl-textfield mdl-js-textfield">
        <%= text_field_tag :password, nil, class: 'mdl-textfield__input', type: 'password' %>
        <%= label_tag :password, nil, class: 'mdl-textfield__label' %>
      </div>

      <div class="form__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" role="button" type="submit">
          Sign in
        </button>
      </div>
  <% end %>
</div>
